{%extends "pgconfopen/base.html" %}
{%block content%}
{% load staticfiles %}
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
            <span class="header"><img src="{% static 'images/golf.svg' %}" alt="" /></span>
						<h2>PostgresOpen Golf Tournament</h2>
					</header>
          <hr>
          <section class="specialevent"></section>
          <section class="section">
            <hr>
            <h3>Announcing the First Annual PostgresOpen Golf Tournament!</h3>

            <p>Join us for a round of golf to benefit the <a href="http://postgresql.us/node/167">United States PostgreSQL Association’s Diversity Scholarship Fund</a>!
              This scholarship fund provides assistance to underrepresented groups to participate in PostgreSQL events, to foster their inclusion in our community.  All proceeds from this event will be donated to the scholarship fund and we will announce the total raised at the conference closing session!
            </p>

            <p>This is the first PostgreSQL-related event of its kind, so join us in making it a rousing success!</p>

            <p>All skill levels from beginner to pro are welcome and encouraged to attend this charity event!</p>

            <p>This event will be held on Friday, September 16th, 2016 at a golf course near the conference hotel.  Transportation to and from the course will be provided from the Westin.
            </p>

            <p>
              <b>Tee Time:</b> 8am<br>
              <b>Fee Per Player:</b> $100<br>
              <b>Club Rental:</b> $50 (optional)
            </p>

            <p><a href="https://2016.postgresopen.org/tickets/">Click here to register for the conference and this special charity event!</a> While registering for the conference, please
            select the "PostgresOpen Golf Charity Event" option to register for this charity event. If you have previously registered for the conference, there will be an option
            available for you on the same page for you to select.</p>

            <p>Please contact the program committee at <a href="mailto:program2016@postgresopen.org">program2016@postgresopen.org</a> with any questions!</p>

            <hr>
          </section>

        </div>
      </section>
{% endblock %}
