{%extends "pgconfopen/base.html" %}
{%block content%}
{% load staticfiles %}
		<!-- Banner -->
			<section id="banner">
				<h2>POSTGRESOPEN 2016</h2>
				<p>DALLAS, TX | SEP 13-15 2016 | <a href="https://2016.postgresopen.org/golf/" style="color: #add43c;">GOLF TOURNAMENT: SEP 16</a></p>
				<ul class="actions">
					<li>
						<a href="/tickets/" class="button big">REGISTER</a>
					</li>
				</ul>
			</section>
<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="container">

					<div class="row 150%">
						<div class="6u 12u$(medium)">
							<section class="box">
								<i class="icon big rounded color1 fa-cloud"></i>
								<h3>Join Us in Dallas!</h3>
									<p>PostgresOpen 2016 will be held on September 13 - September 15th in Dallas, at the Westin Galleria.<br>
										The conference delivers three days packed with tutorials and presentations about PostgreSQL and related
										technologies, one day of extended trainings, and the usual hallway and social track!</p>
										<p>On the 16th we are having our first annual PostgresOpen Golf Charity Event! Please go to <a href="https://2016.postgresopen.org/golf/">our golf tournament page</a> for more information.</p>
										<p><b><a href="mailto:program2016@postgresopen.org?subject=Add Me">Click here to sign up for our mailing list!</a></b></p>
										<p>View photos from our 2015 conference <b><a href="https://plus.google.com/u/0/b/101601617824681748976/+postgresopen/photos">here</a></b> and our speaker videos from 2015 <b><a href="https://plus.google.com/u/0/b/101601617824681748976/+postgresopen/videos">here.</a></b></p>
							</section>
						</div>
						<div class="6u 12u$(medium)">
							<section class="box">
								<i class="icon big rounded color9 fa-desktop"></i>
								<h3>PostgreSQL Community</h3>
								<p>For over 20 years, PostgreSQL Community works to organize conferences with many technical and business
									talks by developers and key users globally.<br>
									In addition to PostgresOpen, PostgreSQL Europe will be holding a conference in the Fall of 2016 -
									2016.pgconf.eu.
								</p>
							</section>
						</div>
					</div>

					<div class="row 150%">
						<div class="12u 12u$(medium)">
							<section class="box">
								<i class="icon big rounded color6 fa-rocket"></i>
								<h3>Important Dates</h3>
								<hr>
                                                                <b><p>Training: September 13th<br>Conference: September 14th, 15th<br>Golf Tournament: September 16th</p></b>
								<hr>
							</section>
						</div>
					</div>
					<div class="row 150%">
						<div class="6u 12u$(medium)">
							<section class="box">
								<ul class="unstyled">
									<li><b>Call for Presentations Opens</b><br> April 15th, 2016</li>
									<hr>
									<li><b>Early Bird Registration Opens</b><br> May 9th, 2016</li>
									<hr>
									<li><b>Call for Presentations Closes</b><br> May 30th, 2016</li>
									<hr>
									<li><b>Speakers Notified of Talk Acceptance</b><br> June 6th, 2016</li>
									<hr>
									<li><b>Sessions Announced</b><br> June 20th, 2016</li>
									<hr>
								</ul>
							</section>
						</div>
						<div class="6u 12u$(medium)">
							<section class="box">
								<ul class="unstyled">
									<li><b>Early Bird Registration Closes</b><br> July 8th, 2016</li>
									<hr>
									<li><b>Schedule Announced</b><br> July 5th, 2016</li>
									<hr>
									<li><b>Regular Registration</b><br> July 9th - September 18th, 2016</li>
									<hr>
									<li><b>Westin Galleria Dallas Reservation Deadline</b><br> August 28th, 2016</li>
									<hr>
									<li><b>Conference Dates</b><br> September 13th - 16th, 2016</li>
									<hr>
								</ul>
							</section>
						</div>
					</div>
			</div>
		</section>

		<!-- Two -->
<!--		<section id="news" class="wrapper news special">
			<header class="major front">
				<h2>Latest Blogs</h2>
			</header>
			<div id="posts" class="posts horizontal">
			  <div class="overlay"></div>
			</div>
		</section>
-->
{% endblock %}
