{%extends "pgconfopen/base.html" %}
{%block content%}
{% load staticfiles %}
		<!-- Banner -->
			<section id="banner">
				<h2>POSTGRESOPEN 2016</h2>
				<p>DALLAS, TX | SEP 13-16 2016</p>
				<ul class="actions">
					<li>
						<a href="/callforpapers/" class="button big">CALL FOR PAPERS</a>
					</li>
				</ul>
			</section>
<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="container">

					<div class="row 150%">
						<div class="6u 12u$(medium)">
							<section class="box">
								<i class="icon big rounded color1 fa-cloud"></i>
								<h3>Join Us in Dallas!</h3>
									<p>PostgresOpen 2016 will be held on September 13 - September 16th in Dallas, at the Westin Galleria.<br>
										The conference delivers three days packed with tutorials and presentations about PostgreSQL and related
										technologies, one day of extended trainings, and the usual hallway and social track!</p>
										<p><b><a href="mailto:program2016@postgresopen.org?subject=Add Me">Click here to sign up for our mailing list!</a></b></p>
							</section>
						</div>
						<div class="6u 12u$(medium)">
							<section class="box">
								<i class="icon big rounded color9 fa-desktop"></i>
								<h3>PostgreSQL Community</h3>
								<p>For over 20 years, PostgreSQL Community works to organize conferences with many technical and business
									talks by developers and key users globally.<br>
									In addition to PostgresOpen, PostgreSQL Europe will be holding a conference in the Fall of 2016 -
									2016.pgconf.eu.
								</p>
							</section>
						</div>
					</div>

					<div class="row 150%">
						<div class="12u 12u$(medium)">
							<section class="box">
								<i class="icon big rounded color6 fa-rocket"></i>
								<h3>Important Dates</h3>
								<hr>
							</section>
						</div>
					</div>
					<div class="row 150%">
						<div class="6u 12u$(medium)">
							<section class="box">
								<ul class="unstyled">
									<li><b>Call for Presentations Opens</b><br> March 15th, 2016</li>
									<hr>
									<li><b>Early Bird Registration Opens</b><br> May 4th, 2016</li>
									<hr>
									<li><b>Call for Presentations Closes</b><br> May 24th, 2016</li>
									<hr>
									<li><b>Speakers Notified of Talk Acceptance</b><br> June 1st, 2016</li>
									<hr>
									<li><b>Sessions Announced</b><br> June 15th, 2016</li>
									<hr>
								</ul>
							</section>
						</div>
						<div class="6u 12u$(medium)">
							<section class="box">
								<ul class="unstyled">
									<li><b>Early Bird Registration Closes</b><br> June 30th, 2016</li>
									<hr>
									<li><b>Schedule Announced</b><br> July 1st, 2016</li>
									<hr>
									<li><b>Regular Registration</b><br> July 1st - September 18th, 2016</li>
									<hr>
									<li><b>Sheraton Dallas Reservation Deadline</b><br> September 2nd, 2016</li>
									<hr>
									<li><b>Conference Dates</b><br> September 16th - 18th, 2016</li>
									<hr>
								</ul>
							</section>
						</div>
					</div>
			</div>
		</section>

		<!-- Two -->
		<section id="news" class="wrapper news special">
			<header class="major front">
				<h2>Latest Blogs</h2>
			</header>
			<div id="posts" class="posts horizontal">
			  <div class="overlay"></div>
			</div>
		</section>
{% endblock %}
