{%extends "pgconfopen/base.html" %}
{%block content%}
{% load staticfiles %}
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
            <span class="header"><img src="{% static 'images/sponsors.svg' %}" alt="" /></span>
						<h2>Sponsors</h2>
					</header>

          <!-- Sponsorship -->
          <section class="section">
            <hr>
            <h3>Sponsorship</h3>
            <p>PostgresOpen wouldn't be possible without the support of our wonderful
               sponsors!  If you are interested in sponsoring the conference, please
               see our <b><a href="/becomesponsor/">sponsoring campaign</a></b> and let us know!
            </p>
            <hr>
          </section>

					<!-- Diamond -->
					<section class="section">
						<h3>Diamond</h3>
						<img src="{% static 'images/2ndQ_logo.png' %}" alt="" />
						<hr>
					</section>

          <!-- Platinum -->
          <section class="section">
            <h3>Platinum</h3>
						<img src="/shared/images/EDB-logo-4c.png" alt="" style=" float: left; margin: 0 10px 0 0;">
							<p style="font-size: 14px;">
								EnterpriseDB is the only world wide provider of enterprise-class products and services based on PostgreSQL, the world's most advanced and independent open source database.
								Postgres Plus Advanced Server provides the most popular enterprise class features found in the leading proprietary products but at a dramatically lower total cost of ownership
								across transaction intensive as well as read intensive applications. Advanced Server also enables seamless migrations from Oracle® that save up to 90% of the cost of typical
								migrations. EnterpriseDB employs a number of industry thought leaders and more PostgreSQL open source community experts than any other organization including core team members,
								major contributors and committers. Our expertise allows EnterpriseDB to provide customers in all market segmentsunparalleled 24x7 support, value packed software subscriptions,
								custom consulting engagements, and targeted training services.
								<br>
								EnterpriseDB was founded in 2004 with the goal of disrupting the database oligopoly with an equally capable product based on open source principles and development that offered
								dramatic cost savings. The company chose PostgreSQL as its technology foundation because PostgreSQL was proven by over 20 years of large-scale commercial deployments, its thriving
								developer community, and its reputation for being the strongest open source database available.
							</p>
            <hr>
          </section>

          <!-- Gold -->
          <section class="section">
            <h3>Gold</h3>
						         <p><img src="{% static 'images/crunchy.png' %}" alt="" /></p>
										 <img src="{% static 'images/aws.png' %}" alt="" style=" float: left; margin: 0 10px 0 0;">
				 							<p style="font-size: 14px;">
												For 10 years, Amazon Web Services has been the world’s most comprehensive and broadly adopted cloud platform. AWS offers over 70 fully featured services for compute, storage,
												databases, analytics, mobile, Internet of Things (IoT) and enterprise applications from 35 Availability Zones (AZs) across 13 geographic regions in the U.S., Australia, Brazil,
												China,Germany, Ireland, Japan, Korea, Singapore, and India. AWS services are trusted by more than a million active customers around the world – including the fastest growing
												startups, largest enterprises, and leading government agencies – to power their infrastructure, make them more agile, and lower costs. To learn more about AWS, visit
												<a href="http://aws.amazon.com">http://aws.amazon.com</a>.
				 							</p>
            <hr>
          </section>

          <!-- Silver -->
          <section class="section">
            <h3>Silver</h3>
                     <p><img src="{% static 'images/OmniTI-logoTM_large_copy.png' %}" alt="" /></p>
			<p><img src="{% static 'images/javelin.png' %}" alt="" /></p>
			<p><img src="{% static 'images/openscg_logo_350.png' %}" alt="" /></p>
            <hr>
          </section>

          <!-- Bronze -->
          <section class="section">
            <h3>Bronze</h3>
            <hr>
          </section>

					<!-- Supporter -->
          <section class="section">
            <h3>Supporter</h3>
						         <p><img src="{% static 'images/pg_exp.png' %}" alt="" /></p>
						         <p><a href="www.okmeter.io"></a><img src="{% static 'images/okmeter_logo_PG.png' %}" alt="" /></a></p>
            <hr>
          </section>

        </div>
      </section>
{% endblock %}
