{%extends "pgconfopen/base.html" %}
{%block content%}
{% load staticfiles %}
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
            <span class="header"><img src="{% static 'images/venue.svg' %}" alt="" /></span>
						<h2>Venue & Hotel</h2>
					</header>

          <!-- Who we are -->
          <section class="section">
            <hr>
            <h3>Westin Galleria Dallas</h3>

            <p>PostgresOpen 2016 will be held at the Westin Galleria Dallas, Dallas, TX</p>
            <p>Use <b><a href="https://www.starwoodmeeting.com/Book/postgresOpen">this link</a></b> to book your reservation!</p>
            <p>Our Conference Group Rate of $189/night for the hotel is available until August 28th, 2016.</p>

            <!-- Contact Info -->
            <ul class="contact-info-list">
              <li>
                <span class="icon"><i class="fa fa-phone"></i></span>
                (972) 934-9494
              </li>
              <li>
                <span class="icon"><i class="fa fa-map-marker"></i></span>
                13340 Dallas Pkwy, Dallas, TX 75240
              </li>
            </ul>
            <!-- Contact Info / End -->
            <hr>
          </section>

          <!-- Things to Do in Dallas -->
          <section>
            <h3>Things to Do in Dallas</h3>

            <ul>
							<li>Sun Sep 11: <a href="http://www.dallascowboys.com/team/game/2016/week-1/dallas-cowboys-vs-new-york-giants">Cowboys vs Giants</a> home game!</li>
							<li>Ice skating at <a href="http://www.galleriaiceskatingcenter.com/">the Galleria</a></li>
							<li><a href="http://www.cavanaughflightmuseum.com/">Cavanaugh Flight Museum</a></li>
							<li>The five golf courses within five miles of the hotel, including <a href="http://www.golftexas.com/golf-courses/north-central/dallas/preston-trail-golf-course.htm">Preston Trail</a>
								and <a href="thehonorsgolfclubdallas.com">The Honors</a></li>
							<li>For a classic Texas steakhouse experience, hop in a cab to the award-winning <a href="http://www.pecanlodge.com/">Pecan Lodge</a></li>
							<li>If you're after a churrascaria experience, try <a href="http://www.texasdebrazil.com/">Texas de Brazil</a>, <a href="http://dallas.rafain.com/">Rafain</a>, or the classic
								<a href="http://fogodechao.com/location/dallas">Fogo de Chao</a></li>
							<li>If you'd like to go for a run after the conference, check out the <a href="http://tourdesfleurs.org/race-information/">Tour des Fleurs</a></li>
            </ul>
            <hr>
          </section>


          <!-- Airport/Hotel information -->
          <section>

            <h3>Hotel Information</h3>

            <p>The Westin Galleria Dallas is located in Dallas, Texas, in the Addison neighborhood. </p>
            <hr>
          </section>
          <section>
            <h3>Airport Information</h3>

            <p>Westin Galleria Dallas is a 30 minute taxi ride from Dallas/Ft Worth International (DFW). Additional transportation options can be found <A HREF="https://www.starwoodhotels.com/westin/property/area/transportation.html?propertyID=1052" target="new">on the hotel's website</A>.</p>
            <hr>
          </section>

        </div>
      </section>
{% endblock %}
